<div class="columns">
  <div class="column">
    <form [formGroup]="searchForm">
      <div class="field">
        <div class="control" [ngClass]="isSearchLoading ? 'is-loading' : ''">
          <input
            class="input is-primary"
            type="text"
            placeholder="{{ 'common.searchByName' | translate }}"
            formControlName="search"
          />
        </div>
      </div>
    </form>
    <app-user-dropdown-list >
      <ng-template ngFor let-user [ngForOf]="userList$ | async">
        <app-user-dropdown-item [user]="user" [seletedUser$]="selectedUser$" (whenSelect)="selectUser($event)"></app-user-dropdown-item>
      </ng-template>
    </app-user-dropdown-list>
    <app-user-choosen [user$]="selectedUser$">

    </app-user-choosen>
  </div>
  <!-- <div class="dropdown-menu quick-search">
            <div class="dropdown-content">
              <hr class="dropdown-divider">
              dada
            </div>
  </div>-->
  
</div>
<!-- input type="text" [(ngModel)]="searchText" (ngModelChange)="reSearch(newValue)" placeholder="Search"> -->
