<div class="columns">
  <div class="column">
    <div class="is-capitalized">
      <h2>{{'common.users' | translate}}</h2>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column" style="width: 100%">
    <form [formGroup]="searchForm" class="z-i-1">
      <div class="field">
        <div class="control" [ngClass]="isSearchLoading ? 'is-loading' : ''">
          <input
            class="input is-primary"
            type="text"
            placeholder="{{ 'common.searchByName' | translate }}"
            formControlName="search"
            (focus)="focus($event)"
          />
        </div>
      </div>
    </form>
    <app-user-dropdown-list class="z-i-1">
      <ng-template ngFor let-user [ngForOf]="(userList$ | async)">
        <app-user-dropdown-item [user]="user" [seletedUser$]="selectedUser$" (whenSelect)="selectUser($event)"></app-user-dropdown-item>
      </ng-template>
    </app-user-dropdown-list>
    <div class="choosen-content">
      <app-user-choosen [user$]="selectedUser$" (delete)="deleteUser()" (edit)="editUser($event)">
  
      </app-user-choosen>
    </div>
  </div>
  <!-- <div class="dropdown-menu quick-search">
            <div class="dropdown-content">
              <hr class="dropdown-divider">
              dada
            </div>
  </div>-->
  
</div>
<div [ngClass]="overlay? 'overlay': 'none'" (click)="closeDropDown()"></div>
<!-- input type="text" [(ngModel)]="searchText" (ngModelChange)="reSearch(newValue)" placeholder="Search"> -->
