.quick-search {
    width: 100%;
}
.choosen-content{
    padding-top: 60px;
}
.overlay{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;
}
.z-i-1 {
    z-index: 1;
    * {
        z-index: 1;
    }
}
.none {
    display: none;
}