<div class="columns ">
  <div class="column has-text-link is-medium">
    <div>{{ 'common.name' | translate }}</div>
    <div>{{ 'common.age' | translate }}</div>
    <div>{{ 'common.dateOfBirth' | translate }}</div>
    <div>{{ 'common.dayOfNextNotification' | translate }}</div>
    <div>{{ 'common.dayOfLogin' | translate }}</div>
  </div>
  <div class="column has-text-black is-medium">
    <div>{{ user.name }}</div>
    <div>{{ user.age }}</div>
    <div>{{ user.dateOfBirth }}</div>
    <div>{{ user.dayOfNextNotification }}</div>
    <div>{{ user.dayOfLogin }}</div>
  </div>
</div>