
.background-gradient {
    height: 100vh;
    background-image: linear-gradient(to left top, #209cee, #00adee, #00bce2, #00c8cc, #00d1b2);
} 
.login-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}
.login-tabs {
    width: 100%;
}